@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-dark bg-light dark:text-light dark:bg-dark;
  }

  h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 64px;
    letter-spacing: 0.005em;
    text-align: left;
  }

  h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
  }
}
